[MESSAGES CONTROL]
disable=
  C0301,
  C0330,
  assignment-from-no-return,
  cyclic-import,
  duplicate-code,
  exec-used,
  fixme,
  import-outside-toplevel,
  invalid-overridden-method,
  missing-docstring,
  invalid-name,
  no-member,
  no-self-use,
  protected-access,
  too-few-public-methods,
  too-many-arguments,
  too-many-branches,
  too-many-instance-attributes,
  too-many-locals,
  too-many-lines,
  too-many-public-methods,
  too-many-return-statements,
  too-many-statements,
  ungrouped-imports,
  unused-argument,
  unused-wildcard-import,
  wildcard-import
